@import url('https://fonts.googleapis.com/css2?family=Assistant&family=Poppins&display=swap');

body {
  background-color: rgba(18,18,18,255);
  margin: 0;
}
nav {
  background-color: rgba(40,40,40,0.5);
  position: fixed;
  z-index: 2;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  border-bottom: 0px solid #000000;
  /* ⌄ ⌄ ⌄ blur property ⌄ ⌄ ⌄ */
  backdrop-filter: blur(10px);
}
.brand {
  margin-left: 4vw;
  margin-bottom: 0;
}
.nav-right {
  display: flex;
  justify-content: flex-end;
  margin-right: 4vw;
}
.nav-right p {
  margin-right: 20px;
  margin-bottom: 0;
}
.nav-right p:hover {
  color: white;
  cursor: pointer;
}
.large-screen-nav {
  display: static;
}
.small-screen-nav {
  display: none;
  color: #DEDEDE;
  font-size: 20px;
  line-height: 23px;
  padding-right: 10px;
}
h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  line-height: 1;
  font-size: 70px;
  margin: 0 0 43px 0;
  color: white;
}
h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  font-size: 21px;
  line-height: 23px;
  letter-spacing: 2px;
  margin: 0 0 23px 0;
  color: #DEDEDE;
}
p {
  font-family: 'Assistant', sans-serif;
  font-size: 16px;
  line-height: 23px;
  margin: 0 0 23px 0;
  color: #DEDEDE;
}
article {
  position: relative;
  top: 150px;
  z-index: 1;
  max-width: 700px;
  margin: auto;
  padding: 0 20px;
}
article h1 {
  text-align: center;
}
article h2 {
  margin-bottom: 40px;
  text-align: center;
}
article p:last-child {
  padding-bottom: 100px;
}

@media only screen and (max-width: 605px) {
  .large-screen-nav {
    display: none;
  }
  .small-screen-nav {
    display: block;
  }
  h1 {
    font-size: 50px;
  }
}